<div *ngIf="question.type === 'number'" class="row width-100-percent form-field-container">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <input [formControl]="formControl" matInput numberInput>
  </mat-form-field>
</div>
<div *ngIf="question.type === 'text'" class="row width-100-percent form-field-container">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <input [formControl]="formControl" matInput maxlength="{{ question.size }}">
  </mat-form-field>
  <p class="character-count"
    [ngClass]="formControl.value.length === question.size ? 'character-count-max' : 'character-count-min'">{{
    formControl.value.length }}/{{ question.size }}</p>
</div>
<div *ngIf="question.type === 'textarea'">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <textarea rows="3" [formControl]="formControl" matInput maxlength="{{ question.size }}"></textarea>
  </mat-form-field>
  <p class="character-count"
    [ngClass]="formControl.value.length === question.size ? 'character-count-max' : 'character-count-min'">{{
    formControl.value.length }}/{{ question.size }}</p>
</div>
<div *ngIf="question.type === 'dropdown'" class="row width-100-percent">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <mat-select [formControl]="formControl" #dropdownMenu>
      <mat-option *ngFor="let ent of question.options" class="option" [value]="ent.value">
        {{ ent.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="question.type === 'popup'" class="row width-100-percent">
  <mat-form-field floatLabel="always">
    <mat-label>{{ question.label }}</mat-label>
    <input matInput [formControl]="formControl" (click)="handleAction()" readonly />
  </mat-form-field>
</div>
<div *ngFor="let kv of question.dependentQuestions | keyvalue">
  <div *ngIf="formControl.value && kv.key!==undefined && formControl.value === kv.key">
    <app-generic-dialog-question [question]="kv.value"></app-generic-dialog-question>
  </div>
</div>